<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>用户的个人主页</title>
</head>
<body>
	<div style="height:145px;width:100%; background:#9D0DA2;text-align:center;line-height:145px;color:red;size:35px" align="center">用户主页</div>
	<h2 align="center">对相关的表进行操作：</h2>
	<div style="width:100%;" align="center">
		 <a th:href="@{/showUser/queryUserAllList}">查询所有的用户(返回页面)</a> 
		<h4><a th:href="@{/showUser/queryUserAllList2}">查询所有的用户(返回json)</a></h4>
		<h4><a th:href="@{/showUser/inputUserData.html}">向表中添加用户信息</a></h4>
		<h4><a th:href="@{/showUser/queryUserAllList}">修改用户信息</a></h4>
		<h4><a th:href="@{/showUser/deleteUserInfoById(id=1)}">删除某一个用户</a></h4>
	</div>

</body>
</html>